data/
results/
.IDEA/
.ipynb_checkpoints

*PATH*
constants_*
utils_*

.DS_Store
.DS_Store?
.Rhistory
.RData
.pkl
.rda
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.html
*.npy
*.pyc
*.RData
*.pdf
*.jpg
*.jpeg
*.png
*.xlsx
*.xls
*.csv
*.ppt
*.pptx
*.doc
*.docx
